{% include "base.html" %} {% block page_content %}
<div class="flex gap-2">
  {% for movie in movies %}
  <button
    class="w-full grid grid-cols-2 gap-4 m-4 p-4 border-2 border-slate-300 rounded border-solid text-left hover:border-green-500"
  >
    <div>
      <p class="font-semibold">Name</p>
      <p>{{ movie.name }}</p>
    </div>
    <div>
      <p class="font-semibold">Release Date</p>
      <p>{{ movie.release_date[0:10] }}</p>
    </div>
    <div>
      <p class="font-semibold">Director Name</p>
      <p>{{ movie.director_person.name }}</p>
    </div>
    <div>
      <p class="font-semibold">Actor Name</p>
      <p>{{ movie.actor_person.name }}</p>
    </div>
    <div>
      <p class="font-semibold">Actresses Name</p>
      <p>{{ movie.actress_person.name}}</p>
    </div>
  </button>
  {% endfor %}
</div>
{% endblock %}
